body {
    background: url("back.jpg");
    margin: 0;
    padding: 0;
    height: 100%;
    background-size: 100%;
    opacity: .8;
    font-family: Airbone, fantasy;
}
@font-face {
    font-family: Airbone;
    src: url('../font/10726.ttf');
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: smaller;
    margin-top: 1%;
    flex-direction:row;
    height: 110px;
    overflow: visible;
    width: 100%;
    flex-grow:0;
}
#logo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0;
    padding-left:20px;
    position:relative;
    height: 50%;
}
ul {
    padding:0;
    width: 90px;
    margin-top: 20px;

}
ul > li {
    font-size: smaller;
    text-decoration: none;
    color:white;
    list-style-type: none;
    overflow: visible;
}

li > ul > li {
    position: relative;
    list-style-type: none;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 90px;
    color:white;
    display:none;
    overflow: visible;
}
li:hover > ul > li {
    display:block;
    overflow: visible;
}
.tour{
    overflow: visible;
    font-size: smaller;
}
.bikes {
    margin-left:2%;
    overflow: visible;

}
.coaching {
    margin-left:50%;
    overflow: visible;
}
.events {
    margin-left:50%;
    overflow: visible;
}

.tours {
    padding-right: 20px;
}

.booking {
    float:right;
    position: relative;
    border-width:1px;
    border-color:white;
    background: none;
    padding:10px 30px 10px 30px;
    cursor: pointer;
    color: white;
    font-size: smaller;
    font-family: Airbone, fantasy;
    margin-top: 1em;
    margin-right: -250%;
}
table, td {
    float: right;
}
.activities {
    margin-top: 4%;
}
.activities:hover {
    cursor:pointer;
}
.number {
    color:white;
    font-size: xx-large;
    margin-top: 19px;
    padding-right: 50px;
    padding-left: 20px;
    padding-bottom: 100px;
}
.name {
    color:white;
    font-size: 5em;
    opacity: .6;
}
footer {
    position:fixed;
    bottom:5%;
    left:55%;
}
.arrow_box {
    position: relative;
    background: #f7f7f7;
}
.arrow_box:after, .arrow_box:before {
    top: 20%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
}

.arrow_box:after {
    border-color: rgba(247, 247, 247, 0);
    border-top-color: #f7f7f7;
    opacity: 0;
    border-width: 30px;
    margin-left: -30px;
}
.arrow_box:before {
    border-color: rgba(245, 32, 24, 0);
    border-top-color: black;
    opacity: 0.7;
    border-width: 36px;
    margin-left: -36px;
}