body {
    background: white;
    opacity: 0;
    transition: .6s;
    margin: 0;
    padding: 0;
    height: 100%;
    background-size: 100%;
    font-family: Airbone, fantasy;
    color:#100040;
}
@font-face {
    font-family: Airbone;
    src: url('10726.ttf');
}